* {
  padding:0;
  margin:0 auto;
}
body {
  font-family: 'Prompt', sans-serif;
  font-size:14px;
  background-color:#e0e0e0;
  text-align:center;
}
main, section, aside, footer, nav, article {
  display:block;
}
main {
  height: 100vh;
  padding: 12px;
  box-sizing: border-box;
  padding-left: 120px;
}
a {
  text-decoration: none;
  color: #1f1f1f;
}
ul {
  list-style-type: none;
}
.text-base-lh {
  font-weight:200;
}
/* IGNORE */
.foot-char {
  background-color: #E3170D;
  box-sizing: border-box;
  padding:6px;
  color: #f5f5f5;
  margin: 32px auto;
}

/* NAVIGATION */
.nav-char-vert {
  width: 120px;
  position: fixed;
  left:0; top:0;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  background-color: #1f1f1f;
}
.nav-char-vert a {
  color: #f5f5f5;
}

/* TITLES */
.title-lrg-char {
  font-weight:200;
  font-size:48px;
  color:#1f1f1f;
}
.title-med-char {
  font-weight:300;
  font-size:36px;
  color:#919191;
  text-shadow: 2px 2px 1px #c0c0c0;
}

/* FORMS */

.form-std {
  width: 90%;
  max-width: 460px;
  padding: 12px;
  margin:48px auto;
  box-sizing: border-box;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 2px #c0c0c0;
}
.label-char-fw {
  display:block;
  font-weight:200;
  font-size:20px;
  color:#1f1f1f;
}
.input-light-fw {
  display:block;
  outline:none;
  border:none;
  background-color: #c0c0c0;
  padding: 4px 8px;
  margin: 6px auto;
  box-shadow: 2px 2px 2px #c0c0c0;
}
.submit-char-std {
  outline: none;
  border:none;
  padding: 4px 8px;
  margin: 6px auto;
  background-color: #1f1f1f;
  color: #c0c0c0;
  font-weight: bold;
  box-shadow: 2px 2px 2px #c0c0c0;
}
